extends ../layout
block content
	nav(class='col-sm-2')
		ul(class='sidebar-nav')
			li
				a(href='/catalog') Home
			li
				a(href='/catalog/comments') Comments
			li
				a(href='/catalog/books') All books
			li
				a(href='/catalog/authors') All authors
			li
				a(href='/catalog/genres') All genres
		div(class='col-sm-10')
			block content