extends ../layout
block content
    nav 
        ul
            li
                a(href="/") return
            li 
                a(href="/inventory/items") items
            li
                a(href="/inventory/categorys") categories
    block content